@charset "UTF-8";

/* 共通設定 */
.containar{
    max-width: 1000px;
    font-size: 16px;
}

/* header */
.head-wrapper{
    height: 640px;
    background-image: image-set();
}

.main-nav{
    display: flex;
    float: right;
}


.title{
    font-size: 100px;
}