@charset "UTF-8";

/* 共通設定 */

body {
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    line-height: 1.7;
    letter-spacing: 1.5px;
}

.wrapper{
    max-width: 860px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    background-color: aliceblue;
}

h2{
    font-size: 36px;
    font-weight: normal;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* header */

.header-page{
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    margin: 50px 0px 0px 20px;
}

.title{
    text-align: center;
}

.title h2{
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
}

.title h2::before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 3px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* contents */

.text-box .text{
    font-size: 46px;
    font-weight: bold;
}

.main-visual{
    background-image:url(img/mainvisual1.jpg) ;
    background-position: right;
    background-size: contain;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.text-box{
    position: absolute;
    top: 30%;
}

.text-box a{
    background-color: red;
    color: #fff;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 5px #CC0033;
    border-radius: 10px;
    display: block;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    transition: 0.3s;
    position: relative;
}

.text-box a::after{
    content: "＞";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.text-box a:hover{
    transform: scale(1.05);
}

/* section 1 */

.reason-box{
    background-color: red;
    padding: 50px 0;
    position: relative;
}

.reason{
    background-color: #fff;
    display: flex;
    padding: 30px 60px;
    width: 40%;
    border-radius: 20px;
    align-items: center;
}

.left{
    justify-content: flex-end;
    margin: 30px auto 30px -20px;
}

.right{
    justify-content: flex-start;
    margin: 30px -20px 30px auto;
}

.reason img{
    object-fit: contain;
    height: 60px;
}

.reason-text{
    margin-left: 30px;
}

.sub-title{
    color: red;
    font-size: 26px;
    font-weight: bold;
}

.reason-text p{
    font-size: 18px;
}