@charset "UTF-8";

/* 共通設定 */

body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    line-height: 1.7;
    letter-spacing: 1.5px;
}

.wrapper{
    max-width: 860px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}

h2{
    font-size: 36px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* header */

.header-page{
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    margin: 50px 0px 0px 20px;
}

.title{
    text-align: center;
}

.title h2{
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
}

.title h2::before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 3px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* contents */

.text-box .text{
    font-size: 46px;
    font-weight: bold;
}

.main-visual{
    background-image:url(img/mainvisual1.jpg) ;
    background-position: right;
    background-size: contain;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.text-box{
    position: absolute;
    top: 30%;
}

.text-box a{
    background-color: red;
    color: #fff;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 5px #CC0033;
    border-radius: 10px;
    display: block;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    transition: 0.3s;
    position: relative;
}

.text-box a::after{
    content: "＞";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.text-box a:hover{
    transform: scale(1.05);
}

/* section 1 */

.reason-box{
    background-color: red;
    padding: 50px 0;
    position: relative;
}

.reason{
    background-color: #fff;
    display: flex;
    padding: 30px 60px;
    width: 40%;
    border-radius: 20px;
    align-items: center;
}

.left{
    justify-content: flex-end;
    margin: 30px auto 30px -20px;
}

.right{
    justify-content: flex-start;
    margin: 30px -20px 30px auto;
}

.reason img{
    object-fit: contain;
    height: 60px;
}

.reason-text{
    margin-left: 30px;
    padding-top: 30px;
}

.sub-title{
    color: red;
    font-size: 26px;
    font-weight: bold;
    line-height: 10px;
}

.reason-text p{
    font-size: 18px;
}

/* parson */
.parson-box{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.parson img{
    background-color: silver;
    border-radius: 100%;
    width: 50%;
}

.parson p{
    font-size: 12px;
    line-height: 10px;
}

.parson-text{
    position: relative;
    background-color: aliceblue;
    width: 50%;
    height: 10%;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.parson-left .parson-text{
    margin-left: -30px;
}

.parson-right{
    justify-content: flex-end;
}

.parson-right .parson-text{
    margin-right: -30px;
}

.parson-left .parson-text::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    border: 15px solid transparent;
    border-right: 15px solid aliceblue;
}


.parson-right .parson-text::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    border: 15px solid transparent;
    border-left: 15px solid aliceblue;
}

/* overview */

.overview{
    background-image: url(img/bg.gif);
    padding: 60px 0;
}

.grid{
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
}

.item{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;
}

.overview-title{
    font-size: 28px;
    font-weight: bold;
}

.overview-english{
    font-size: 18px;
    font-weight: bold;
}

.overview p{
    text-align: left;
}

/* exprience */

.experience{
    text-align: center;
    margin: 100px 0;
}

.experience h2{
    font-size: 32px;
    line-height: 10px;
}

.experience p{
    font-size: 18px;
    line-height: 10px;
}

.experience a{
    display: block;
    background-color: red;
    color: #fff;
    font-size: 28px;
    border-radius: 50px;
    padding: 15px 0;
    margin-top: 50px;
    transition: 0.3s;
    border:3px solid red;
    font-weight: bold;
}

.experience a:hover{
    color: red;
    background-color: #fff;
}

/* footer */

footer{
    background-color: gainsboro;
    padding: 60px 0 30px 0;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-title{
    font-weight: bold;
}

.footer-box a{
    color: black;
    font-size: 14px;
}

footer p{
    text-align: center;
    font-size: 10px;
}